.section-feat-quote { 
  background: url(images/quote-bg.jpg) no-repeat 0 0;
  background-color: #333;
  background-size: cover; 
  padding: 3rem 1rem 2rem;
  color: #fff;
  text-align: center; 
}

.feat-quote {
  .quote-entry { 
    font-family: $font-family;
    font-weight: 300; 
    padding-bottom: 1.5rem; 

    p:after,
    p:before { 
      background-repeat: no-repeat; 
      background-position: 0 0; 
      display: inline-block; 
      content: ''; 
      width: 1.5rem; 
      height: 2rem;
    }

    p:before { 
      vertical-align: top; 
      margin-right: 1rem; 
    }

    p:after { 
      vertical-align: bottom; 
      margin-left: 1rem; 
    }
  }  

  .author { 
    font-family: $font-family;
  }
}  