$element-height: rem-calc(45);

.footer-top { 
  background: #5fb8c5; 
  position: relative; 
  text-align: center; 
  
  .footer-label {
    color: #fff; 
    display: inline-block; 
    font-family: $font-family;
    vertical-align: middle;
    line-height: $element-height; 
    @extend %padding;
    
    @media #{$medium-up} {
      @include grid-column(6); 
    }
    
    strong { 
      font-weight: 400; 
    }
  }

  .form-subscribe { 
    display: inline-block; 
    vertical-align: middle; 
    @extend %padding-top;
    @extend %padding-bottom;

    @media #{$medium-up} {
      @include grid-column(6); 
    }

    form {
      margin: 0;
    }
  }

  .footer-widget { 
    @extend %padding-top;
    @extend %padding-bottom;
  }
}

.footer-subscribe { 
  @include grid-row();
  @include placeholder {
    color: #fff;
  }
    
  text-align: center; 

  input[type="text"], 
  input[type="email"] { 
    background: #90ced7; 
    border: 0; 
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff; 
    display: block; 
    font-family: $font-family;
    height: $element-height; 
    margin: 0;
    width: 100%; 
  }

  input[type="submit"] { 
    display: none; 
  }
}  
