.logo { 
	position: absolute; 
	top: 50%; 
	left: 0; 
	width: 170px; 
	text-align: right; 
	padding-right: 20px; 
	transform: translateY(-50%); 
	-webkit-transform: translateY(-50%); 
	
	a { 
		display: block; 
		width: 79px; 
		height: 22px; 
		margin: 0 0 0 auto; 
		background: url(images/logo.png) no-repeat 0 0 $primary; 
		background-size: 100% 100%; 
		font-size: 0; 
		line-height: 0; 
		text-indent: -4000px; 
	    transition: none!important;
	}
}

// Mobile
// .logo {
// 	display: block;
// 	position: static;
// 	padding: 0 0 0 40px;
// 	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
// 	transform: translate(0);
// 	text-align: left;
// 	a {
// 		margin: 0;
// 	}
// }