.nav {
	padding: 20px 0;

	ul {
		width: 100%;
		list-style: none outside none;
		padding-left: 20px;
	}

	li {
		display: inline-block;
		vertical-align: middle;
		padding: 0 20px;

		&:nth-child(3) {
			// margin-right: 200px;
		}
	}

	a {
		display: block;
		font-size: 12px;
		line-height: 16px;
		color: $silver;
		font-weight: 400;
		text-transform: uppercase;

		&:hover {
			color: $primary;
		}
	}

	i {
		display: inline-block;
		vertical-align: middle;
		height: 23px;
		margin-right: 5px;
		vertical-align: middle;
		display: none;
	}

	span {
		display: inline-block;
		vertical-align: middle;
	}

	.nav-wwd i {
		width: 28px;
		height: 26px;
		background-position: -72px 0;
	}

	.nav-about i {
		width: 29px;
		background-position: 0 0;
	}

	.nav-portfolio i {
		width: 23px;
		background-position: -38px 0;
	}
}
