//
// @name Colors
// @description All of the colors.
// 
// @state .bg- - Indicates background color.
// @state .c- - Indicates fill color.
// @state .a- - Indicated links colors
// 
// @markup
//   <button>This is a button</button>
// 

// Background color helper 
.bg {
  @each $color-name, $color-value in $colors {
    &-#{"" + $color-name} {
      background-color: $color-value !important;
    }
  }
}

// Transparency
.bg-trans {
  background-color: rgba(#fff, .75) !important;
}

// Color helper 
.c {
  @each $color-name, $color-value in $colors {
    &-#{"" + $color-name} {
      color: $color-value !important;
    }
  }
}

.a {
  @each $color-name, $color-value in $colors {
    &-#{"" + $color-name} {
      color: $color-value !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}