@import "vendors/normalize";
@import "settings";
//@import "vendors/foundation/foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
   "vendors/foundation/foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
   "vendors/foundation/foundation/components/buttons",
   "vendors/foundation/foundation/components/clearing",
   "vendors/foundation/foundation/components/dropdown",
   "vendors/foundation/foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
   "vendors/foundation/foundation/components/forms",
   "vendors/foundation/foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
   "vendors/foundation/foundation/components/pagination",
   "vendors/foundation/foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
   "vendors/foundation/foundation/components/tables",
   "vendors/foundation/foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
   "vendors/foundation/foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
   "vendors/foundation/foundation/components/visibility";

@import "vendors/compass";
@import "vendors/scut";

@import "base/all";
@import "utilities/all";
@import "components/all";
@import "structures/all";
@import "templates/all";
@import "pages/all";

/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */
 
@import 'patterns/variables';
@import 'patterns/code';
@import 'patterns/color-chips';
@import 'patterns/controls';
@import 'patterns/item';
@import 'patterns/layout';
@import 'patterns/menu';
